
SoC/db/altsyncram_tk24.tdf
SoC/db/prev_cmp_SoC.qmsg
SoC/db/SoC.(0).cnf.cdb
SoC/db/SoC.(0).cnf.hdb
SoC/db/SoC.(1).cnf.cdb
SoC/db/SoC.(1).cnf.hdb
SoC/db/SoC.(10).cnf.cdb
SoC/db/SoC.(10).cnf.hdb
SoC/db/SoC.(11).cnf.cdb
SoC/db/SoC.(11).cnf.hdb
SoC/db/SoC.(12).cnf.cdb
SoC/db/SoC.(12).cnf.hdb
SoC/db/SoC.(13).cnf.cdb
SoC/db/SoC.(13).cnf.hdb
SoC/db/SoC.(14).cnf.cdb
SoC/db/SoC.(14).cnf.hdb
SoC/db/SoC.(15).cnf.cdb
SoC/db/SoC.(15).cnf.hdb
SoC/db/SoC.(16).cnf.cdb
SoC/db/SoC.(16).cnf.hdb
SoC/db/SoC.(17).cnf.cdb
SoC/db/SoC.(17).cnf.hdb
SoC/db/SoC.(18).cnf.cdb
SoC/db/SoC.(18).cnf.hdb
SoC/db/SoC.(19).cnf.cdb
SoC/db/SoC.(19).cnf.hdb
SoC/db/SoC.(2).cnf.cdb
SoC/db/SoC.(2).cnf.hdb
SoC/db/SoC.(20).cnf.cdb
SoC/db/SoC.(20).cnf.hdb
SoC/db/SoC.(21).cnf.cdb
SoC/db/SoC.(21).cnf.hdb
SoC/db/SoC.(22).cnf.cdb
SoC/db/SoC.(22).cnf.hdb
SoC/db/SoC.(23).cnf.cdb
SoC/db/SoC.(23).cnf.hdb
SoC/db/SoC.(24).cnf.cdb
SoC/db/SoC.(24).cnf.hdb
SoC/db/SoC.(25).cnf.cdb
SoC/db/SoC.(25).cnf.hdb
SoC/db/SoC.(26).cnf.cdb
SoC/db/SoC.(26).cnf.hdb
SoC/db/SoC.(27).cnf.cdb
SoC/db/SoC.(27).cnf.hdb
SoC/db/SoC.(28).cnf.cdb
SoC/db/SoC.(28).cnf.hdb
SoC/db/SoC.(29).cnf.cdb
SoC/db/SoC.(29).cnf.hdb
SoC/db/SoC.(3).cnf.cdb
SoC/db/SoC.(3).cnf.hdb
SoC/db/SoC.(30).cnf.cdb
SoC/db/SoC.(30).cnf.hdb
SoC/db/SoC.(31).cnf.cdb
SoC/db/SoC.(31).cnf.hdb
SoC/db/SoC.(32).cnf.cdb
SoC/db/SoC.(32).cnf.hdb
SoC/db/SoC.(33).cnf.cdb
SoC/db/SoC.(33).cnf.hdb
SoC/db/SoC.(34).cnf.cdb
SoC/db/SoC.(34).cnf.hdb
SoC/db/SoC.(35).cnf.cdb
SoC/db/SoC.(35).cnf.hdb
SoC/db/SoC.(36).cnf.cdb
SoC/db/SoC.(36).cnf.hdb
SoC/db/SoC.(37).cnf.cdb
SoC/db/SoC.(37).cnf.hdb
SoC/db/SoC.(38).cnf.cdb
SoC/db/SoC.(38).cnf.hdb
SoC/db/SoC.(39).cnf.cdb
SoC/db/SoC.(39).cnf.hdb
SoC/db/SoC.(4).cnf.cdb
SoC/db/SoC.(4).cnf.hdb
SoC/db/SoC.(40).cnf.cdb
SoC/db/SoC.(40).cnf.hdb
SoC/db/SoC.(41).cnf.cdb
SoC/db/SoC.(41).cnf.hdb
SoC/db/SoC.(42).cnf.cdb
SoC/db/SoC.(42).cnf.hdb
SoC/db/SoC.(44).cnf.cdb
SoC/db/SoC.(44).cnf.hdb
SoC/db/SoC.(45).cnf.cdb
SoC/db/SoC.(45).cnf.hdb
SoC/db/SoC.(46).cnf.cdb
SoC/db/SoC.(46).cnf.hdb
SoC/db/SoC.(47).cnf.cdb
SoC/db/SoC.(47).cnf.hdb
SoC/db/SoC.(5).cnf.cdb
SoC/db/SoC.(5).cnf.hdb
SoC/db/SoC.(6).cnf.cdb
SoC/db/SoC.(6).cnf.hdb
SoC/db/SoC.(7).cnf.cdb
SoC/db/SoC.(7).cnf.hdb
SoC/db/SoC.(75).cnf.cdb
SoC/db/SoC.(75).cnf.hdb
SoC/db/SoC.(76).cnf.cdb
SoC/db/SoC.(76).cnf.hdb
SoC/db/SoC.(77).cnf.cdb
SoC/db/SoC.(77).cnf.hdb
SoC/db/SoC.(8).cnf.cdb
SoC/db/SoC.(8).cnf.hdb
SoC/db/SoC.(9).cnf.cdb
SoC/db/SoC.(9).cnf.hdb
SoC/db/SoC.asm.qmsg
SoC/db/SoC.asm.rdb
SoC/db/SoC.cmp.idb
SoC/db/SoC.cmp.logdb
SoC/db/SoC.cmp.rdb
SoC/db/SoC.cmp_merge.kpt
SoC/db/SoC.cyclonev_io_sim_cache.ff_0c_fast.hsd
SoC/db/SoC.cyclonev_io_sim_cache.ff_85c_fast.hsd
SoC/db/SoC.cyclonev_io_sim_cache.tt_0c_slow.hsd
SoC/db/SoC.cyclonev_io_sim_cache.tt_85c_slow.hsd
SoC/db/SoC.db_info
SoC/db/SoC.eda.qmsg
SoC/db/SoC.fit.qmsg
SoC/db/SoC.hier_info
SoC/db/SoC.hif
SoC/db/SoC.logic_util_heuristic.dat
SoC/db/SoC.lpc.rdb
SoC/db/SoC.map.ammdb
SoC/db/SoC.map.bpm
SoC/db/SoC.map.cdb
SoC/db/SoC.map.hdb
SoC/db/SoC.map.kpt
SoC/db/SoC.map.qmsg
SoC/db/SoC.map.rdb
SoC/db/SoC.map_bb.cdb
SoC/db/SoC.map_bb.hdb
SoC/db/SoC.pre_map.hdb
SoC/db/SoC.pti_db_list.ddb
SoC/db/SoC.root_partition.map.reg_db.cdb
SoC/db/SoC.routing.rdb
SoC/db/SoC.rtlv.hdb
SoC/db/SoC.rtlv_sg.cdb
SoC/db/SoC.rtlv_sg_swap.cdb
SoC/db/SoC.sld_design_entry.sci
SoC/db/SoC.sld_design_entry_dsc.sci
SoC/db/SoC.sta.qmsg
SoC/db/SoC.sta.rdb
SoC/db/SoC.tis_db_list.ddb
SoC/db/SoC.tiscmp.fast_1100mv_0c.ddb
SoC/db/SoC.tiscmp.fast_1100mv_85c.ddb
SoC/db/SoC.tiscmp.slow_1100mv_0c.ddb
SoC/db/SoC.tiscmp.slow_1100mv_85c.ddb
SoC/db/SoC.tmw_info
SoC/db/SoC.vpr.ammdb
SoC/db/SoC_partition_pins.json
SoC/incremental_db/compiled_partitions/SoC.db_info
SoC/incremental_db/compiled_partitions/SoC.root_partition.cmp.ammdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.cmp.cdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.cmp.dfp
SoC/incremental_db/compiled_partitions/SoC.root_partition.cmp.hbdb.cdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.cmp.hbdb.hdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.cmp.hbdb.sig
SoC/incremental_db/compiled_partitions/SoC.root_partition.cmp.hdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.cmp.logdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.cmp.rcfdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.map.cdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.map.dpi
SoC/incremental_db/compiled_partitions/SoC.root_partition.map.hbdb.cdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.map.hbdb.hdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.map.hdb
SoC/incremental_db/compiled_partitions/SoC.root_partition.map.kpt
SoC/incremental_db/compiled_partitions/SoC.rrp.hdb
SoC/incremental_db/compiled_partitions/SoC.rrs.cdb
SoC/output_files/SoC.asm.rpt
SoC/output_files/SoC.done
SoC/output_files/SoC.eda.rpt
SoC/output_files/SoC.fit.rpt
SoC/output_files/SoC.fit.summary
SoC/output_files/SoC.flow.rpt
SoC/output_files/SoC.jdi
SoC/output_files/SoC.map.rpt
SoC/output_files/SoC.map.summary
SoC/output_files/SoC.pin
SoC/output_files/SoC.sof
SoC/output_files/SoC.sta.rpt
SoC/output_files/SoC.sta.summary
SoC/simulation/modelsim/msim_transcript
SoC/simulation/modelsim/rtl_work/_info
SoC/simulation/modelsim/rtl_work/_lib.qdb
SoC/simulation/modelsim/rtl_work/_lib1_0.qdb
SoC/simulation/modelsim/rtl_work/_lib1_0.qpg
SoC/simulation/modelsim/rtl_work/_lib1_0.qtl
SoC/simulation/modelsim/rtl_work/_vmake
SoC/simulation/modelsim/SoC.vho
SoC/simulation/modelsim/SoC_modelsim.xrf
SoC/simulation/modelsim/SoC_run_msim_rtl_vhdl.do
SoC/simulation/modelsim/SoC_run_msim_rtl_vhdl.do.bak11
SoC/SoC.qsf
SoC/SoC_nativelink_simulation.rpt
SoC/vish_stacktrace.vstf
SoC/vsim.wlf
SoC/wave.do
SoC/work/_info
SoC/work/_lib.qdb
SoC/work/_lib1_45.qdb
SoC/work/_lib1_45.qpg
SoC/work/_lib1_45.qtl
SoC/work/_lib1_52.qdb
SoC/work/_lib1_52.qpg
SoC/work/_lib1_52.qtl
SoC/work/_vmake
SoC/db/.cmp.kpt
SoC/db/SoC.cmp.bpm
SoC/db/SoC.cmp.cdb
SoC/db/SoC.cmp.hdb
SoC/db/SoC.smart_action.txt
SoC/db/SoC.sta_cmp.6_slow_1100mv_85c.tdb
SoC/db/SoC.smart_action.txt
SoC/work/_vmake
SoC/work/_lib1_77.qtl
SoC/work/_lib1_77.qpg
SoC/work/_lib1_77.qdb
SoC/work/_lib1_68.qtl
SoC/work/_lib1_68.qpg
SoC/work/_lib1_68.qdb
SoC/work/_lib.qdb
SoC/work/_info
SoC/SoC.qsf
SoC/SoC.qws
SoC/SoC_assignment_defaults.qdf
SoC/SoC_nativelink_simulation.rpt
SoC/vsim.wlf
SoC/simulation/modelsim/SoC_run_msim_rtl_vhdl.do.bak9
SoC/simulation/modelsim/SoC_run_msim_rtl_vhdl.do.bak8
SoC/simulation/modelsim/SoC_run_msim_rtl_vhdl.do.bak7
SoC/simulation/modelsim/SoC_run_msim_rtl_vhdl.do
SoC/simulation/modelsim/SoC_run_msim_rtl_vhdl.do.bak10
SoC/simulation/modelsim/SoC_modelsim.xrf
SoC/simulation/modelsim/SoC.vho
SoC/simulation/modelsim/rtl_work/_vmake
SoC/simulation/modelsim/rtl_work/_lib1_0.qtl
SoC/simulation/modelsim/rtl_work/_lib1_0.qpg
SoC/simulation/modelsim/rtl_work/_lib1_0.qdb
SoC/simulation/modelsim/rtl_work/_lib.qdb
SoC/simulation/modelsim/rtl_work/_info
SoC/simulation/modelsim/msim_transcript
SoC/output_files/SoC.sta.summary
SoC/output_files/SoC.sta.rpt
SoC/output_files/SoC.sof
SoC/output_files/SoC.pin
SoC/output_files/SoC.map.rpt
SoC/output_files/SoC.map.summary
SoC/output_files/SoC.flow.rpt
SoC/output_files/SoC.fit.summary
SoC/output_files/SoC.fit.rpt
SoC/output_files/SoC.eda.rpt
SoC/output_files/SoC.done
SoC/output_files/SoC.asm.rpt
SoC/db/SoC.smart_action.txt
SoC/db/SoC.quiproj.9668.rdr.flock
SoC/work/_vmake
SoC/work/_lib1_68.qtl
SoC/work/_lib1_68.qpg
SoC/work/_lib1_68.qdb
SoC/work/_lib.qdb
SoC/work/_info
SoC/SoC.qsf
SoC/SoC.qws
SoC/SoC_nativelink_simulation.rpt
SoC/vsim.wlf
SoC/simulation/modelsim/SoC_run_msim_rtl_vhdl.do
SoC/simulation/modelsim/SoC_modelsim.xrf
SoC/simulation/modelsim/SoC.vho
SoC/simulation/modelsim/rtl_work/_vmake
SoC/simulation/modelsim/rtl_work/_lib1_0.qtl
SoC/simulation/modelsim/rtl_work/_lib1_0.qpg
SoC/simulation/modelsim/rtl_work/_lib1_0.qdb
SoC/simulation/modelsim/rtl_work/_lib.qdb
SoC/simulation/modelsim/rtl_work/_info
SoC/simulation/modelsim/msim_transcript
SoC/output_files/SoC.sta.summary
SoC/output_files/SoC.sta.rpt
SoC/output_files/SoC.sof
SoC/output_files/SoC.pin
SoC/output_files/SoC.map.rpt
SoC/output_files/SoC.map.summary
SoC/output_files/SoC.flow.rpt
SoC/output_files/SoC.fit.summary
SoC/output_files/SoC.fit.rpt
SoC/output_files/SoC.eda.rpt
SoC/output_files/SoC.done
SoC/output_files/SoC.asm.rpt
SoC/db/SoC.smart_action.txt
SoC/work/_vmake
SoC/work/_lib1_68.qtl
SoC/work/_lib1_68.qpg
SoC/work/_lib1_68.qdb
SoC/work/_lib.qdb
SoC/work/_info
SoC/SoC.qsf
SoC/SoC.qws
SoC/SoC_nativelink_simulation.rpt
SoC/vsim.wlf
SoC/simulation/modelsim/SoC_run_msim_rtl_vhdl.do
SoC/simulation/modelsim/SoC_modelsim.xrf
SoC/simulation/modelsim/SoC.vho
SoC/simulation/modelsim/rtl_work/_vmake
SoC/simulation/modelsim/rtl_work/_lib1_0.qtl
SoC/simulation/modelsim/rtl_work/_lib1_0.qpg
SoC/simulation/modelsim/rtl_work/_lib1_0.qdb
SoC/simulation/modelsim/rtl_work/_lib.qdb
SoC/simulation/modelsim/rtl_work/_info
SoC/simulation/modelsim/msim_transcript
SoC/output_files/SoC.sta.summary
SoC/output_files/SoC.sta.rpt
SoC/output_files/SoC.sof
SoC/output_files/SoC.pin
SoC/output_files/SoC.map.rpt
SoC/output_files/SoC.map.summary
SoC/output_files/SoC.flow.rpt
SoC/output_files/SoC.fit.summary
SoC/output_files/SoC.fit.rpt
SoC/output_files/SoC.eda.rpt
SoC/output_files/SoC.done
SoC/output_files/SoC.asm.rpt
SoC/db/SoC.smart_action.txt
